$background-color-primary: #1c1a24;
$section-header-color: #312f3d;
$section-body-color: #282633;

$font-color-primary: #f6fbfe;
$font-color-secondary: #686573;
$font-color-dark-gray: #67666b;
$font-color-purple: #706be2;
$font-color-pink: #c85cd1;
$font-color-lightgray: #a2a0ae;

$button-color-primary: #7c72f3;
$button-color-secondary: #4c468c;
$button-color-green: #59fe8b;

$input-gray-background: #403d4d;

$border-radius-primary: 10px;
$border-radius-secondary: 20px;

$padding-primary: 20px;
$margin-primary: 15px;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./components/navbar/logo/Logo.scss";
@import "./components/navbar/Navbar.scss";
@import "./components/navbar/desktop-menu/DesktopMenu.scss";
@import "./components/sign\ in\ with\ steam/SignInSteamButton.scss";
@import "./components/navbar/mobile-menu/MobileMenu.scss";
@import "./pages/trade/Trade.scss";
@import "./components/trade\ sidebar/Trade_sidebar.scss";
@import "./components/your\ offers/Offers.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Inter, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
